{
  "presets": [
    "react",
    ["es2015", { "modules": false }],
    "stage-1"
  ],
  "plugins": [
    ["react-intl", {
        "messagesDir": "./locales"
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "babel-plugin-annotate-console-log"
      ]
    },
    "test": {
      "presets": [ "es2015", "react", "stage-1" ]
    }
  }
}
