<!DOCTYPE html>
<html>
  <head>
    <title>Smero</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <meta name="description" content=""/>
    <meta name="robots" content="noodp"/>

    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="" />

    <link rel="shortcut icon" href="" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" />
    <link rel="canonical" href="" />
    <link rel="shortcut icon" href="" type="image/x-icon" />
  </head>
  <body>
    <div id="app" class="app" />
  </body>
</html>
